@model IEnumerable<RaythosAerospace101.Models.SparePart>
@{
    ViewData["Title"] = "Index";
}

<div class="container-md pt-5">

    <div class="d-flex w-100" style="justify-content:end">
        <a asp-controller="SpareParts" asp-action="New" class="btn btn-secondary">New Spare Part</a>
    </div>

    <div style="min-height:400px">
        @if (Model.Count() > 0)
        {
            <table class="table table-hover mb-5">
                <thead>
                    <tr>
                        <th scope="col">Model</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.Stat != "Deleted")
                        {
                            <tr>
                                <td class="align-middle">@item.Title</td>
                                <td class="align-middle">
                                    <form method="post" asp-controller="SpareParts" asp-action="UpdateQty" asp-route-Id="@item.Id">
                                        <div class="d-flex">
                                            <input name="qty" type="number" style="max-width: 65px" class="form-control" placeholder="qty" value="@item.Qty">
                                            <a id="1update @item.Id" onclick="firstHideQty(@item.Id)" class="btn btn-primary text-white mx-1 mb-0 align-middle align-items-center">Update</a>
                                            <input id="2update @item.Id" style="max-width: 125px" type="submit" class="d-none btn btn-primary mx-1 mb-0 align-middle align-items-center" value="Confirm Update">
                                        </div>
                                    </form>

                                </td>
                                <td class="align-middle">$@item.Price</td>
                                <td class="align-middle d-flex">
                                    <a asp-controller="SpareParts" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-success mx-1 mb-0 align-middle">Edit</a>
                                    <a asp-controller="SpareParts" asp-action="Hide" asp-route-Id="@item.Id" class="btn btn-warning mx-1 mb-0 align-middle">@(item.Stat == "Hidden"? "Show" : "Hide")</a>
                                    <a id="1delete @item.Id" onclick="firstHide(@item.Id);" class="text-white btn btn-danger mx-1 mb-0 align-middle">Delete</a>
                                    <a id="2delete @item.Id" asp-controller="SpareParts" asp-action="Delete" asp-route-Id="@item.Id" class="d-none text-white btn btn-danger mx-1 mb-0 align-middle">Confirm Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<script>

    function firstHide(id) {
        document.getElementById("1delete " + id).classList.add("d-none");
        document.getElementById("2delete " + id).classList.remove("d-none");
    }

    function firstHideQty(id) {
        document.getElementById("1update " + id).classList.add("d-none");
        document.getElementById("2update " + id).classList.remove("d-none");
    }
</script>
