@model IEnumerable<RaythosAerospace101.Models.SparePart>
@{
    ViewData["Title"] = "Index";
}

<div class="container-md pt-5">

    <div class="d-flex w-100" style="justify-content:end">
        <a asp-controller="SpareParts" asp-action="New" class="btn btn-secondary">New Spare Part</a>
    </div>

    <div style="min-height:400px">
        @if (Model.Count() > 0)
        {
            <table class="table table-hover mb-5">
                <thead>
                    <tr>
                        <th scope="col">Model</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.Stat != "Deleted")
                        {
                            <tr>
                                <td class="align-middle">@item.Title</td>
                                <td class="align-middle">$@item.Qty</td>
                                <td class="align-middle">$@item.Price</td>
                                <td class="align-middle">
                                    @*<a asp-controller="Plane" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-success mx-1 mb-0 align-middle">Edit</a>
                                    <a asp-controller="Plane" asp-action="Hide" asp-route-Id="@item.Id" class="btn btn-warning mx-1 mb-0 align-middle">@(item.PlaneStatusId == 2? "Show" : "Hide")</a>
                                    <*@<!--a asp-controller="Plane" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger mx-1 mb-0 align-middle">Delete</a>-->
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>

