@model IEnumerable<RaythosAerospace101.Models.FloorPlan>
@{
    ViewData["Title"] = "FloorPlans";
}

<section style="min-height: 87vh;" class="v__center">
    <div class="width920">
        <div class="fluid-container">
            <div class="row">
                <div style="margin-bottom: 12px;" class="col-12 center">
                    <div class="typo__heading__2 ">Floor Plan Options</div>
                </div>
                <div class="d-flex w-100" style="justify-content:end">
                    <a asp-controller="FloorPlan" asp-action="New" class="btn btn-secondary">New Floor Plan</a>
                </div>
                @foreach (var item in Model)
                {
                    if (item.Stat == "Active" || item.Stat == "Hidden")
                    {
                        <div class="col-12 col-md-6 center" style=" padding: 24px; box-sizing:border-box;">
                            <div class="card__floorPlan">
                                <img src="../../images/floor_plans/@item.Image_Path" alt="image">
                                <div style="margin-top: 12px;" class="card__floorPlan__persons">
                                    <div></div>
                                    <div class="typo__subHeading__3">@item.Persons</div>
                                </div>
                                <div style="margin-top: 14px;" class="typo__subHeading__3">@item.Title</div>
                                <div style="margin-top: 4px; min-height: 64px;" class="typo__para__1">@item.Description</div>
                                <div class="d-flex">
                                    <a asp-controller="FloorPlan" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-success mx-1 mb-0 align-middle">Edit</a>
                                    <a asp-controller="FloorPlan" asp-action="Hide" asp-route-Id="@item.Id" class="btn btn-warning mx-1 mb-0 align-middle">@(item.Stat == "Active" ? "Hide" : "Show")</a>
                                    <a id="1delete @item.Id" onclick="firstHide(@item.Id);" class="text-white btn btn-danger mx-1 mb-0 align-middle">Delete</a>
                                    <a id="2delete @item.Id" asp-controller="FloorPlan" asp-action="Delete" asp-route-Id="@item.Id" class="d-none text-white btn btn-danger mx-1 mb-0 align-middle">Confirm Delete</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
<script>

    function firstHide(id) {
        document.getElementById("1delete " + id).classList.add("d-none");
        document.getElementById("2delete " + id).classList.remove("d-none");
    }
</script>
