@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<div class="heading v__center">
    <div style="display: flex; align-items: center; width: 100%; justify-content: space-between;">
        <div class="img__logo_word">Raythos Aerospace</div>
        <div style="display: flex; align-items: center; gap: 16px;">

            @if (HttpContextAccessor.HttpContext.Session.GetString("role") == "" || HttpContextAccessor.HttpContext.Session.GetString("role") == null)
            {
                <a asp-controller="User" asp-action="Index" class="heading__link">Login</a>
            }
            else
            {
                <a asp-controller="User" asp-action="MyProfile" class="heading__link">@HttpContextAccessor.HttpContext.Session.GetString("email")</a>
            }

            @*<a asp-controller="User" asp-action="Index"  type="button" class="filled__button">Go to Store</a>*@
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Menu
                </button>
                <ul class="dropdown-menu dropdown-menu">
                    <li>
                        <a style="margin-bottom: 5px"
                           class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "") "
                           asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                    </li>
                    <li>
                        <a style="margin-bottom: 5px"
                           class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Shop" ? "active" : "") "
                           asp-controller="Home" asp-action="Shop">
                            Shop
                        </a>
                    </li>

                    @if (HttpContextAccessor.HttpContext.Session.GetString("role") == "3" || HttpContextAccessor.HttpContext.Session.GetString("role") == "4")
                    {
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a style="margin-bottom: 5px"
                               class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Cart" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "") "
                               asp-controller="Cart" asp-action="Index">
                                Cart
                            </a>
                        </li><li>
                            <a style="margin-bottom: 5px"
                               class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Plane" && ViewContext.RouteData.Values["Action"].ToString() == "MyPlanes" ? "active" : "") "
                               asp-controller="Plane" asp-action="MyPlanes">
                                My Planes
                            </a>
                        </li>
                        <li>
                            <a style="margin-bottom: 5px"
                               class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString() == "SpareParts" && ViewContext.RouteData.Values["Action"].ToString() == "MyOrders" ? "active" : "") "
                               asp-controller="SpareParts" asp-action="MyOrders">
                                Other Orders
                            </a>
                        </li>
                        <li>
                            <a style="margin-bottom: 5px"
                               class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Payment" && ViewContext.RouteData.Values["Action"].ToString() == "History" ? "active" : "") "
                               asp-controller="Payment" asp-action="History">
                                Payment History
                            </a>
                        </li>
                        <li>
                            <a style="margin-bottom: 5px"
                               class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "MyProfile" ? "active" : "") "
                               asp-controller="Home" asp-action="MyProfile">
                                My Profile
                            </a>
                        </li>
                    }

                    @if (HttpContextAccessor.HttpContext.Session.GetString("role") == "4")
                    {
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a style="margin-bottom: 5px"
                               class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Plane" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "") "
                               asp-controller="Plane" asp-action="Index">
                                Planes
                            </a>
                        </li>
                        <li>
                            <a style="margin-bottom: 5px"
                               class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Admin" && ViewContext.RouteData.Values["Action"].ToString() == "FloorPlans" ? "active" : "") "
                               asp-controller="FloorPlan" asp-action="Index">
                                Floor Plans
                            </a>
                        </li>
                        <li>
                            <a style="margin-bottom: 5px"
                               class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Admin" && ViewContext.RouteData.Values["Action"].ToString() == "DesignSchemes" ? "active" : "") "
                               asp-controller="DesignScheme" asp-action="Index">
                                Design Schemes
                            </a>
                        </li>

                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a style="margin-bottom: 5px"
                               class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString() == "SpareParts" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "") "
                               asp-controller="SpareParts" asp-action="Index">
                                Spare Parts
                            </a>
                        </li>

                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a style="margin-bottom: 5px"
                               class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Admin" && ViewContext.RouteData.Values["Action"].ToString() == "AeroplaneOrders" ? "active" : "") "
                               asp-controller="Admin" asp-action="AeroplaneOrders">
                                Aeroplane Orders
                            </a>
                        </li>
                        <li>
                            <a style="margin-bottom: 5px"
                               class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Admin" && ViewContext.RouteData.Values["Action"].ToString() == "OtherOrders" ? "active" : "") "
                               asp-controller="Admin" asp-action="OtherOrders">
                                Other Orders
                            </a>
                        </li>
                        <li>
                            <a style="margin-bottom: 5px"
                               class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString() == "User" && ViewContext.RouteData.Values["Action"].ToString() == "UsersList" ? "active" : "") "
                               asp-controller="User" asp-action="UsersList">
                                Users List
                            </a>
                        </li>
                    }

                    @if (HttpContextAccessor.HttpContext.Session.GetString("role") == "3" || HttpContextAccessor.HttpContext.Session.GetString("role") == "4")
                    {
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a style="margin-bottom: 5px"
                               class="dropdown-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Messages" && ViewContext.RouteData.Values["Action"].ToString() == "Logout" ? "active" : "") "
                               asp-controller="Messages" asp-action="Logout">
                                Logout
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>